.form-field {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &__label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    color: $dark-primary;
  }

  &__input {
    padding: 6px 10px;

    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition: border-color 0.25s ease;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;

    color: $dark-primary;

    &:focus {
      border-color: #c3e600;
    }
  }
}
