.contact-form__container {
  width: 50vw;

  padding: 45px 50px 60px 50px;

  background: $white-primary;
  box-shadow: $shadow;

  @include tabletMD {
    width: 100%;
    padding: 42px 24px 60px 24px;
  }

  @include mobile {
    padding: 20px 10px;
  }

  .form-button {
    margin-top: 26px;
  }
}
