.interaction-card {
  padding: 24px 20px 24px 12px;

  &__title {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;

    color: $dark-primary;

    margin-bottom: 8px;
  }

  &__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    color: $dark-primary;
  }

  &__row {
    display: flex;
    align-items: center;

    column-gap: 64px;
    margin-top: 64px;
  }

  &__index {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 68px;

    color: $accent-primary;
  }
}
