.statistic-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  column-gap: 4px;

  padding: 24px 0;

  &__value {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 150%;

    color: $accent-primary;
  }

  &__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 150%;

    color: $dark-primary;
  }
}
