// ---------------------------------
// Fonts
// ---------------------------------

$heading-ff: 'Nunito Sans';
$text-ff: 'Inter';

// ---------------------------------
// Colors
// ---------------------------------

$dark-primary: #232800;
$dark-secondary: #6e727f;

$accent-primary: #c3e600;

$error-primary: #fb7756;

$gray-primary: #f1f1f1;
$gray-secondary: #eeeeee;

$white-primary: #ffffff;

// ---------------------------------
// Box shadow
// ---------------------------------

$shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1);

// ---------------------------------
// Heading
// ---------------------------------

.heading-1 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 131px;

  color: $dark-primary;
}

.heading-2 {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 68px;

  color: $dark-primary;
}

.paragraph-footer {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

  color: $dark-primary;
}

.paragraph {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;

  color: $dark-primary;
}

.subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;

  color: $dark-primary;
}

.form-subtitle {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;

  color: $dark-primary;
}

// ---------------------------------
// Section
// ---------------------------------

.section {
  position: relative;
  padding-top: 100px;
  &--centered {
    .section-title {
      text-align: center;
    }
  }
}

.section-title {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 68px;

  color: $dark-primary;

  margin-bottom: 48px;
}

.section-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;

  .button {
    padding-left: 80px;
    padding-right: 80px;
  }
}
