* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;

  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
}

.button-link {
  text-decoration: none;
}

ul {
  margin-inline-start: 20px;
}

.iti__flag-container {
  font-family: sans-serif;
}

.datepicker {
  font-family: sans-serif;
}
